.image-container {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 2px solid #ddd;
    padding: 8px;
    margin-bottom: 20px;
}
.image-container .title {
    display: inline-block;
    padding: 2px;
}
.user-image-container {
    min-height: 64px;
}
.hovering {
    background: #dfd;
}

.image {
    position: relative;
    display: inline-block;
    padding-left: 5px;
    padding-bottom: 5px;
}
.image .overlay {
    position: absolute;
    left: 0px; top: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
}
.image .overlay:hover {
    opacity: 1;
}
.image button {
    position: absolute;
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    bottom: 0px;
    right: 0px;
    z-index: 100;
}
.gf-thumbnail {
    width: 64px;
    height: 64px;
    overflow: hidden;
    padding: 5px;
    background: black;
    z-index: 10;
    image-rendering: pixelated;
}

.file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.popup-message .gf-thumbnail {
    margin-right: 10px;
}
