body {
  padding-top: 50px;
}
.game-frame {
  padding: 40px 15px;
}
.power-icon {
    width: 20px;
    height: 20px;
}

.left-slider-label {
    display: inline-block;
    width: 10em;
    text-align: right
}

.table th, .table td { 
    border-top: none !important;
}

.table th {
    border-bottom: solid black 1px;
}

.log-category-info {
    color: green;
}
.log-category-warning {
    color: orange;
}
.log-category-error {
    color: red;
}
